
<ion-content padding class="login-content-juego-rapido">
  <div>


    <div style = "margin-top: 10%;" class="login-logo">
      <!-- <img class="logo" width="100" height="100"> -->
      <img width="300" src="../../assets/icon/classpipExpress.png">  
    </div> 

    <div class="login-credentials">
      <ion-item lines="none">
        <ion-input type="text" value="" name="nickname" placeholder="Nickname" requiered [(ngModel)]="nickname"></ion-input>
        <!-- <img class="user-input-logo" width="21" height="21" slot="end"> -->
        <img width="20" height="20" slot="end" src="../../assets/Login/login-usericon-theme2.svg">  
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="clave" placeholder="Clave" requiered [(ngModel)]="clave"></ion-input>
        <!-- <img class="pass-input-logo" width="20" height="20" slot="end"> -->
        <img width="20" height="20" slot="end" src="../../assets/Login/login-usericon-theme2.svg">  

      </ion-item>

      <ion-button (click)="AutentificarJuegoRapido();" class="login-btn">INICIAR
      </ion-button>
    </div> 
    
  </div>
</ion-content>